.acm-saved{
	background: #eeeeee;
	padding: 10px;
	border: 1px solid #cccccc;
	text-align: center;
}
.acm-admin .acm-text{
	display: inline;
	width: 200px;
	margin: 10px 0;
	color: #888888;
}
.acm-admin .acm-submit{
	display: block;
	margin: 10px 0;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}
.acm-admin span{
	margin-left: 10px;
}

#daext-newsletterform {
	background: none repeat scroll 0 0 #222222;
	border-top: 5px solid #0DA3DD;
	bottom: 0;
	height: 40px;
	left: 0;
	margin: 0 auto;
	padding: 10px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 999999;
}
#daext-newsletterform-container{
	height: 40px;
	margin: 0 auto;
	width: 760px;
}
#daext-newsletterform-container #daext-p{
	color: #555555;
	float: left;
	font-size: 26px;
	height: 40px;
	line-height: 40px;
	margin: 0;
}
#daext-newsletterform-container #daext-p-sent{
	color: #555555;
	float: left;
	font-size: 26px;
	height: 40px;
	line-height: 40px;
	margin: 0;
	display: none;
}
#daext-newsletterform-container #daext-form{
	float: right;
	height: 40px;
}
#daext-newsletterform-container #daext-email{
	border: 3px solid #555555;
	border-radius: 6px;-webkit-border-radius: 6px;
	color: #555555;
	font-size: 16px;
	height: 18px;
	line-height: 24px;
	margin: 6px 0;
	padding: 3px;
	text-align: center;
	width: 240px;		
}
#daext-newsletterform-container #daext-button{
	background: url('../img/daext-btn.gif') repeat scroll 0 0 transparent;
	border-color: #BBBBBB #BBBBBB #999999;
	border-radius: 6px;-webkit-border-radius: 6px;
	border-style: solid;
	border-width: 3px;
	color: #333333;
	cursor: pointer;
	float: right;
	font-family: helvetica,arial,sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	line-height: 24px;
	margin-left: 5px;
	margin-top: 6px;
	padding: 0 10px;
	text-align: center;
	text-shadow: 0 1px #F0F0F0;
}
#daext-newsletterform-container #daext-img{
	display: none;
	float: left;
	margin: 5px 10px 5px 0;
}
/* EASY FLOATING BOX */
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
/* Hide from IE-mac /*/
* html .clearfix{1%;}
/* End hide from IE-mac */
/* EASY FLOATING BOX - END */
